.form {
  width: 500px;
  margin: 0 auto;
  margin-top: 30px;
}
.title {
  display: flex;
}

.title * {
  margin: auto;
}

.field {
  margin: 10px auto;
  display: flex;
}

.label {
  margin-right: auto;
  margin-left: 0;
  margin-top: auto;
  margin-bottom: auto;
}

.input {
  margin-right: 0;
  margin-left: auto;
  border-color: lightgrey;
  border-style: solid;
  border-width: thin;
  border-radius: 3px;
  width: 300px;
  padding: 6px;
  font-family: "Inria-Sans", sans-serif;
}

.input:focus {
  outline: none;
  border-color: #008bff;
}

.messageField {
  display: flex;
  flex-direction: column;
}

.messageInput {
  height: 100px;
  margin-top: 5px;
  border-color: lightgrey;
  border-radius: 5px;
  border-width: thin;
  padding: 8px;
  font-family: "Inria-Sans", sans-serif;
}

.messageInput:focus {
  border-color: #008bff;
  outline: none;
}

.submit {
  margin-top: 10px;
  background-color: #008bff;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  padding: 7px;
  color: white;
  font-family: "Inria-Sans", sans-serif;
}
